{% import '/macro/section.html.twig' as section %}
{{section.sectionstart("Expériences",{id:'experiences',bgColor:'bg-primary text-white',color:'text-white',dividerColor:'divider-light', divider:'fa fa-building', heading:''})}}
        <!-- Experience Section Content-->
        {% for experience in experiences %}
        <div class="row p-3 justify SlidInRightAnimation">
            <div class="col-lg-2 ms-auto">
                <span class="ex-date">{{experience.dateStart|date('M Y') ~ " à " ~ experience.dateEnd|date('M Y')}}</span>
                <span class="ex-lieu">{{experience.city}}</span>
            </div>
            <div class="col ms-auto">
                <span class="ex-society">{% if experience.formation is not null %}<span class="ex-formation">Formation</span>{% endif
                    %}{{experience.society}}</span>
                <span class="ex-job">{{experience.title}}</span>
                {% if experience.context != '' %}
                    <p class="ex-contexte">{{experience.context|raw}}</p>
                {% endif %}
                {% if experience.experienceDetails %}
                <ul>
                    {% for experienceDetail in experience.experienceDetails %}
                    <li>{{experienceDetail.content}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}

       

{{section.sectionend()}}